<h1>Welcome on Acme application!</h1>

<p>This is a public page viewable by everyone.</p>

<p>Access to <a href="{{ path('case1_member_index') }}">member area</a> or <a href="{{ path('case1_admin_index') }}">admin area</a>.</p>
